* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: azure;
}



/*NAVEGATION*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    color: azure;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.685);
    transition: all 0.7s ease-in-out;
}
.logo{
    margin: 0 2rem;
    padding: 0.7rem 0;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.5s;
    
}
.logo:hover{
    transform: scale(1.4);
    color:gold;
}
ul {
    list-style: none;
}

.nav-list {
    display: flex;
}
.nav-list a:hover{
    color: bisque;
    background: rgba(255, 123, 0, 0.349)
}

li {
    margin: 0 2rem;
    padding: 0.7rem 0;
}
li a{
    /* display: block; */
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
}
.ctn:hover{
    color: bisque;
    background: rgba(255, 123, 0, 0.349);    
}

.ctn {       
    color: azure;
    background: crimson;
    border-radius: 0.7rem;
    padding: 0.6rem 1.7rem;      
}
.menu_btn{
    width: 4rem;
    height: auto;
    position: fixed;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 11;
    display: none;
    opacity: 0.3;
}
.menu_btn:hover{
    opacity: 1;
}

/*HEADER*/

header {
    width: 100vw;
    height: 100vh;
    background-image: url('img/Madrid-street3.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    color: azure;
    margin-bottom: 5rem;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.header-content .line {
    width: 30vmin;
    height: 0.2rem;
    margin: 0.8rem auto;
    background-color: crimson;
}

.header-content h1 {
    font-size: 6vmin;
    margin-bottom: 2rem;
}

.about{    
    font-size: 2rem;
    background: crimson;
    color: black;
    padding: 0.2rem 2rem;
    border-radius: 0.5rem;
    transition: 0.5s;
}
.about:hover{
    letter-spacing: 0.25rem;
    color: white;
}

/*MAIN*/

main{
    width: 100vw;    
}
.h2_learning{
    text-align: center;
    font-size: 4vmin;
    margin-top: 5rem;
}
.line2{
    width: 50vmin;
    height: 0.3rem;
    margin: 0.2rem auto 1rem auto;
    background-color: crimson;
}

/* CNC */

.cnc_router{
    width: 90%;
    margin: 4rem auto 0 auto;
    display: flex;
    justify-content: space-around;
}
.cnc_media{
    width: 50%; 
    object-fit: cover;   
}
.cnc_work{
    width: 50%;
    text-align: center;
    margin: auto;
    padding: 0 3rem;
}
.h2_cnc{
    font-size: 5vmin;    
}
.p_cnc{
    font-size: 2vmin;
    margin: 2rem auto;
}

/* ADVENTURE */

.adventure{
    width: 100%;
    margin: 8rem 0 2rem;    
}
.h3_adventure{
    text-align: center;
    font-size: 8vmin;
    margin: 0 2vmin;
}

.galeria{
    width: 100vw;
    max-width: 1080px;
    height: 100vh;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15rem;
    grid-gap: 1rem;    
}
.galeria, .box-img, figure {
    width: 100%;
    height: 100%;
}
.galeria, .box-img, img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}
figure img:hover{
    transform: scale(1.1);
}
.galeria .box-img:nth-child(1){
    grid-column-start: span 2;
}
.galeria .box-img:nth-child(4){
    grid-row-start: span 2;
}



/* LETS WORK TOGETHER */

.letswork{
    width: 100%;
    margin-top: 6rem;
    padding-left: 2rem;    
}
.letswork h2{
    font-size: 4vmin;
}
.letswork h3{
    font-size: 8vmin;
}
.line3{
    width: 50vmin;
    height: 0.2rem;
    margin: 1rem 0 2rem 0;
    background-color: crimson;
}

/* FOOTER */

footer{
    width: 100vw;
    height: auto;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;    
}

form{
    width: 80%;
    margin: 2rem auto;
    padding: 1.5rem 2rem 0 2rem;
    background: rgba(224, 33, 33, 0.322);
    box-sizing: border-box;
    border-radius: 0.8rem;  
    text-align: center;  
}
.box-form{
    width: 30%;      
}
form input, textarea{
    width: 100%;
    margin-bottom: 1.5rem;
    padding: 0.5rem;
    font-weight: bold;
    border: none;
    border-radius: 0.3rem;    
}
textarea{
    max-width: 100%;
    max-height: 5rem;
}
.button1{
    width: 100%;
    cursor: pointer;
    color: azure;
    background: crimson;
    border: none;
    border-radius: 0.4rem;
    padding: 0.6rem 1.7rem;
}

.mapa{
    width: 30%;    
    max-height: 300px;    
}
.mapaimg{
    width: 100%;    
    margin: 2rem auto 1rem auto;
    padding: 0 2rem;
}
address{
    color: ghostwhite;
    padding: 0 2rem;
}
.linkmapa{
    color:rgb(119, 119, 245);
}


/* MEDIA QUERY */

@media (max-width:1280px){
    .box-form, .mapa{
        width: 50%;
    }    
}

@media (max-width: 870px){
    .navbar{
        padding: 0;
        position: fixed;
        justify-content: flex-start;
        height: 100%;
        width: 50%;
        text-align: center;
        background: rgba(0, 0, 0, 0.945);
        margin-left: -900px;        
    }
    .logo{
        position: absolute;        
        top: 2rem;
        left: 1.4rem;
    }
    .nav-list{
        flex-direction: column;
        margin: auto;
    }
    .nav-list li{
        padding: 3rem 0;
    }
    .menu_btn{
        display: block;
    }
    .mobile_menu{
        margin-left: 0;
    }
}

@media (max-width: 720px){
    footer{
        display: block;
        width: 100vw;
        height: 78vh;
        text-align: center;  
    }
    .box-form, .mapa{
        width: 100%;
    }
    .h3_adventure{
        margin: 0 1rem;
    }
    .cnc_router{
        margin: 2rem auto 0 auto;
    }
    .cnc_work{
        padding: 1rem;
    }
    .cnc_work a{
        font-size: 1rem;
        padding: 0.2rem 0.5rem;
    }
}