*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}

/*NAVEGATION*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    color: azure;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    transition: all 0.7s ease-in-out;
}
.logo{
    margin: 0 2rem;
    padding: 0.7rem 0;
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.5s;    
}
.logo:hover{
    transform: scale(1.4);
    color:rgba(10, 4, 19, 0.541);
}
.nav-list {
    list-style: none;
    display: flex;
}
.nav-list a:hover{
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.349);
    transition: 0.5s;
}
.nav-list > li {
    margin: 0 2rem;
    padding: 0.7rem 0;
}
.nav-list > li a{    
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
}
.ctn:hover{
    color: bisque;
    background: rgba(255, 123, 0, 0.349);    
}
.ctn {       
    color: azure;
    background: crimson;
    border-radius: 0.7rem;
    padding: 0.6rem 1.7rem;      
}
.menu_btn{
    width: 4rem;
    height: auto;
    position: fixed;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
    z-index: 11;
    display: none;
    opacity: 0.3;
}
.menu_btn:hover{
    opacity: 1;
}

/* HEADER */

header {
    width: 100vw;
    height: 400px;
    background-image: url('img/Madrid-Street.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    filter: grayscale(100%);
}
.header-content > div {
    text-align: center;   
}
.header-content img{
    width: 15vmin;
    filter: invert(100%);    
}
header h1{
    font-size: 4vmin;
    color: ghostwhite;
    margin-bottom: 3rem;
}

/* MAIN */

main{
    display: flex;
    justify-content: center;
}
.project-content{
    width: 30vmin;
    height: 45vmin;    
    margin: 3rem 2rem 0;
    background-color: white;
    filter: drop-shadow(10px 10px 40px black);
}
.img-content{
    background-color: rgb(203, 230, 230);
    height: 50%;
}
