* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: azure;
}

a:hover{
    color: bisque;
    background: rgba(255, 123, 0, 0.349)
}

/*NAVEGATION*/

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 1rem;
    color: azure;
    background-color: rgba(0, 0, 0, 0.521);
}
.logo{
    margin: 0 2rem;
    padding: 0.7rem 0;
}
ul {
    list-style: none;
}

.nav-list {
    display: flex;
}

li {
    margin: 0 2rem;
    padding: 0.7rem 0;
}
li a{
    /* display: block; */
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
}

/*HEADER*/

header {
    width: 100vw;
    height: 100vh;
    background-image: url('img/Madrid-street3.jpg');
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header-content {
    color: azure;
    margin-bottom: 5rem;
    text-align: center;
}

.header-content h2 {
    font-size: 4vmin;
}

.header-content .line {
    width: 30vmin;
    height: 0.2rem;
    margin: 0.8rem auto;
    background-color: crimson;
}

.header-content h1 {
    font-size: 6vmin;
    margin-bottom: 1rem;
}

.ctn {
    color: azure;
    background: crimson;
    border-radius: 0.7rem;
    padding: 0.6rem 1.7rem;
}

/*MAIN*/

main{
    width: 100vw;
    height: 100vh;
}
.galeria{
    width: 100vw;
    max-width: 1080px;
    height: 100vh;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 15rem;
    grid-gap: 1rem;    
}

.galeria, .box-img, figure {
    width: 100%;
    height: 100%;
}

.galeria, .box-img, img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

figure img:hover{
    transform: scale(1.1);
}

.galeria .box-img:nth-child(1){
    grid-column-start: span 2;
}
.galeria .box-img:nth-child(4){
    grid-row-start: span 2;
}
